@model DailyNutrition.Models.Breakfast

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.D_Vitamin_Intake)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.D_Vitamin_Intake)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Portion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Portion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beverage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beverage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volym)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volym)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Ändra</a>
    <a asp-action="Index" class="btn btn-info">Se tidigare frukost</a>
</div>
